<!DOCTYPE html>
<html>
<head>
    <title>Add Metric</title>
    <link rel="stylesheet" href="/css/403projectStyle.css">
</head>
<body>
    <h1 style="text-align: center;">Add Metric</h1>

    <form action="/addMetric" method="POST">

        <input type="hidden" name="custID" value="5">

        <!-- Weight -->
        <label for="weight">Weight</label>
        <input type="number" id="custWeight" name="custWeight">
        <br><br>

        <!-- Height -->
        <label for="height">Height</label>
        <input type="text" id="custHeightIN" name="custHeightIN">
        <br><br>
        
        <!-- BMI -->
        <label for="bmi">BMI</label>
        <input type="number" id="custBMI" name="custBMI" step=".01">
        <br><br>
        
        <!-- Calories Consumed -->
        <label for="caloriesConsumed">Calories Consumed</label>
        <input type="number" id="caloriesConsumed" name="caloriesConsumed">
        <br><br>

        <!-- Calories Burned -->
        <label for="caloriesBurned">Calories Burned</label>
        <input type="number" id="caloriesBurned" name="caloriesBurned">
        <br><br>

        <!-- Record Date -->
        <label for="recordDate">Date Created</label>
        <input type="date" id="recordDate" name="recordDate" value="<%= new Date().toISOString().split('T')[0] %>" required>
        <br><br>
        
        <!-- Submit Button -->
        <button type="submit">Add Metric</button>
    </form>
</body>
</html>