<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/403projectStyle.css">
    <title>Add Goal</title>
</head>
<body>
    <header>
        <h1>Add Goal</h1>
    </header>
    <nav>
        <a href="/"><button class="link">Home</button></a>
        <a href="goals"><button class="link">Goals</button></a>
        <a href="healthMetrics"><button class="link">Health Metrics</button></a>
        <a href="login"><button class="link">Login/Register</button></a>
    </nav>
    
    <main>
        <section>
            <form action="/addGoal" method="POST">
                <table>
                    <tr>
                        <td><label for="goaldescription">Goal Description</label></td>
                        <td><input type="text" id="goaldescription" name="goaldescription" required></td>
                    </tr>
                </table>
                <input type="hidden" name="custid" value="5">
                <button type="submit">Add Goal</button>
            </form>
        </section>
    </main>
    <footer>
        <p>Created by Madison Hein, Josh Locke, Harmony Tayler, and Anna Young</p>
    </footer>
</body>
</html>