<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/403projectStyle.css">
    <title>Edit Goal</title>
</head>
<body>
    <header>
        <h1>Edit Goal</h1>
    </header>
    <nav>
        <a href="/"><button class="link">Home</button></a>
    </nav>
    <main>
        <section>
            <form action="/editGoal/<%= goals.goalid %>" method="POST">
                <table>
                    <tr>
                        <td><label for="goals">Description</label></td>
                        <td><input type="text" id="goaldescription" name="goaldescription" value="<%= goals.goaldescription %>"></td>
                    </tr>
                    <tr>
                        <td><label for="goals">Status</label></td>
                        <td><input type="checkbox" id="goalstatus" name="goalstatus" value='true' <%= goals.goalstatus ? 'checked' : '' %>></td>
                    </tr>
                </table>
        </section>
        <section>
                <button type="submit">Save Goal</button>
            </form>
        </section>
    </main>
    <footer>
        <p>Created by Madison Hein, Josh Locke, Harmony Tayler, and Anna Young</p>
    </footer>
</body>
</html>