<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/403projectStyle.css">
    <title>Edit Goal</title>
</head>
<body>
    <header>
        <h1>Edit Goal</h1>
    </header>
    <main>
        <section>
            <form action="/editGoal/<%= goals.goalID %>" method="POST">
                <label for="goals">Description</label>
                <input type="text" id="goalDescription" name="goalDescription" value="<%= goals.goalDescription %>">
        
                <label for="goals">Status</label>
                <label for="goalStatus">
                    <input type="checkbox" id="goalStatus" name="goalStatus" value="true" <%= goals.goalStatus ? 'checked' : '' %>>
                </label>
                
        </section>
        <section>
                <button type="submit">Save Goal</button>
            </form>
        </section>
    </main>
</body>
</html>