<!-- Landing page for 403 project. -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/403projectStyle.css">
    <title>My Fitness Plan</title>
</head>

<body>
    <header>
        <h1>My Fitness Plan</h1>
    </header>
    <nav>
        <a href="/"><button class="link">Home</button></a>
        <a href="goals"><button class="link">Goals</button></a>
        <a href="healthMetrics"><button class="link">Health Metrics</button></a>
        <a href="login"><button class="link">Login/Register</button></a>
    </nav>

    <main>
        <section style="text-align: center;">
            <h1>Ready to take control of your health?</h1>
            <h2>Get started now with a fitness plan!</h2>
        </section>
        <section>
            <img src="\images\machop.jpg">
            <img src="\images\machoke.jpg">
            <img src="\images\machamp.jpg">
        </section>
    </main>
</body>

<footer>
    <p>Created by Madison Hein, Josh Locke, Harmony Tayler, and Anna Young</p>
</footer>
</html>