<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/403projectStyle.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Add Goal</h1>
    </header>
    <nav>
        <a href="/"><button class="link">Home</button></a>
        <a href="goals"><button class="link">Goals</button></a>
        <a href="healthMetrics"><button class="link">Health Metrics</button></a>
        <a href="login"><button class="link">Login/Register</button></a>
    </nav>
    
    <main>
        <section>
            <form action="/register" method="POST">
                <table>
                    <tr>
                        <td><label for="custfirstname">First Name</label></td>
                        <td><input type="text" id="custfirstname" name="custfirstname" required></td>
                    </tr>
                    <tr>
                        <td><label for="custlastname">Last Name</label></td>
                        <td><input type="text" id="custlastname" name="custlastname" required></td>
                    </tr>
                    <tr>
                        <td><label for="custstreetaddress">Street Address</label></td>
                        <td><input type="text" id="custstreetaddress" name="custstreetaddress" required></td>
                    </tr>
                    <tr>
                        <td><label for="custcity">City</label></td>
                        <td><input type="text" id="custcity" name="custcity" required></td>
                    </tr>
                    <tr>
                        <td><label for="custstate">State</label></td>
                        <td><input type="text" id="custstate" name="custstate" required></td>
                    </tr>
                    <tr>
                        <td><label for="custzip">Zip</label></td>
                        <td><input type="number" id="custzip" name="custzip" required></td>
                    </tr>
                    <tr>
                        <td><label for="custphonenum">Phone Number</label></td>
                        <td><input type="text" id="custphonenum" name="custphonenum" required></td>
                    </tr>
                    <tr>
                        <td><label for="custemail">Email</label></td>
                        <td><input type="text" id="custemail" name="custemail" required></td>
                    </tr>
                    <tr>
                        <td><label for="custpassword">Password</label></td>
                        <td><input type="password" id="custpassword" name="custpassword" required></td>
                    </tr>
                </table>
                <button type="submit">Register Account</button>
            </form>
        </section>
    </main>
    <footer>
        <p>Created by Madison Hein, Josh Locke, Harmony Tayler, and Anna Young</p>
    </footer>
</body>
</html>